AUTH_SECRET=AUTH_SECRET # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID=AUTH_GITHUB_ID
AUTH_GITHUB_SECRET=AUTH_GITHUB_SECRET

CONTENTFUL_API_BASE_URL=https://cdn.contentful.com
CONTENTFUL_API_ENDPOINT=/content/v1/spaces/
CONTENTFUL_SPACE_ID=CONTENTFUL_SPACE_ID
CONTENTFUL_ENVIRONMENT=CONTENTFUL_ENVIRONMENT
CONTENTFUL_DELIVERY_ACCESS_TOKEN=CONTENTFUL_DELIVERY_ACCESS_TOKEN
CONTENTFUL_MANAGEMENT_API_ACCESS_TOKEN=CONTENTFUL_MANAGEMENT_API_ACCESS_TOKEN